# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Entorno virtual
env/
venv/
*.venv

# Archivos de logs
*.log
logs/

# Base de datos SQLite
db.sqlite3
db.sqlite3-journal

# Archivos de entorno y configuración
.env
*.ini
*.cfg

# Archivos de compilación y cache
dist/
build/
*.egg-info/

# Archivos estáticos generados
staticfiles/
media/

# Archivos de migraciones innecesarios
*/migrations/*.pyc
*/migrations/__pycache__/