{% for campo in form %}
<div class="col form-floating mb-3">

    {{campo}}
    <label for="floatingInput"> {{campo.label}}</label>

</div>
{% if campo.errors %}
<div class=" col alert alert-danger mt-2 p-2">
    {% for error in campo.errors %}
    {{ error }}<br>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
<div class="col mb-3">
    <a href="{% url 'find_all' %}" class="btn btn-outline-primary">Volver Inicio</a>
    <input type="submit" value="Enviar" class="btn btn-outline-primary">
</div>