 {% load static %} <!-- Cargar el tag static aquí -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" >
   

    {% block 'styles' %}{% endblock  %}
    <title>Gestion De Contactos</title>
</head>
<body >


    <main class="container-fluid d-flex flex-row justify-content-center align-items-start vh-100"  >
        <div class = "container pt-4 " style="overflow-y: auto; height: 100%;" >
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-danger" {% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% block contacts %}
                <!-- El contenido específico de la plantilla hija se insertará aquí -->
            {% endblock %}
        </div>
    </main>
 
    <!-- Bootstrap JavaScript Bundle (incluye Popper.js) -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block  'extra_js'%}
    {% endblock  %}

</body>
</html>