{% extends 'layouts/base.html' %}

{% block contacts %}
<div class="row border">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center text-primary">Añadir Contacto</h5>
            <form action="{% url 'create_one'  %}" method="POST">
                {% csrf_token %}
                {% include "form.html" %}
                <a href="{% url 'find_all' %}" class="btn btn-outline-primary">Volver Inicio</a>
                <input type="submit" value="Enviar" class="btn btn-outline-primary">
            </form>
    
        </div>
    </div>

</div>
{% endblock contacts %}